<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--一个面上保留的点数-->
    <add key="points" value="8"/>
    <add key="greenPoints" value="10"/>
    <add key="projectFolder" value="D:\检测项目"/>
    <add key="ncFolder" value="D:\NC程序"/>
    <add key="msrFolder" value="D:\MSR"/>
    <add key="BALLNOSED" value="D0.5-BALLNOSED"/>
    <add key="ENDMILL" value="D0.5-ENDMILL"/>
    <add key="ENDMILL_D10" value="D10-ENDMILL"/>
    <add key="StepdownLimit" value="2"/>
    <add key="Stepdown" value="3"/>
    <add key="GreenStepdown" value="5"/>
    <add key="uPmoptz" value="Fidia_KR199_OMV_V6"/>
    <add key="totalPmoptz" value="Results_Output_Generator_OMV2015"/>
    <add key="uAngle" value="45"/><!--槽的角度，45°说明有8个槽-->
    <add key="mock" value="false"/><!--产生测试用的整合msr文件-->
    <add key="methods" value="竖面（角度）,竖面（距离）,横面（距离）,模型比对,U型槽模型比对,顶端平面,顶端内侧圆弧,侧孔,侧孔2,椭圆,顶孔,不计算"/>
    <add key="radius" value="20"/>
    <add key="HoleMinPoints" value="6"/><!--椭圆和侧孔的检测最小点数，低于此值需弹出提示-->
    <add key="EllipseMinPoints" value="7"/>
    <add key="SavedData" value="SavedData"/><!--保存颜色配置，零件信息，PM检测路径信息的文件夹-->
  </appSettings>
</configuration>